
.header{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 90px;
    line-height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color:#080808 ;
    
}
.header .header-logo{
    color: white;
    font-family: 'Montserrat:400,700', sans-serif;
    float: left;
    margin-left: 30px;  
    text-decoration: none;
}
.header .header-menu{
    float: right;
    margin-right: 30px;
  
}
.header .header-menu a{
    margin-right: 15px;
    color: white;
    text-decoration: none;
}
.header .header-menu a:hover{
    color:#F9D503;
   
}
body{
    background-color: #080808;
}
.container{
   margin-top:  10%;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: gold;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #1b1d3d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}